@using System.Data;
@{
    ViewBag.Title = "eMail";
    Layout = "~/Views/layout/adminlayout.cshtml";
     var veri = ViewBag.Veriler as DataTable;

}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Veri Tablosu</a>
        </li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            E-Mail
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width:60%; text-align:center;">Ad & Soyad</th>
                            <th style="width:20%; text-align:center;">Görüntüle</th>
                            <th style="width:20%; text-align:center;">Sil</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th style="width:60%; text-align:center;">Ad & Soyad</th>
                            <th style="width:20%; text-align:center;">Görüntüle</th>
                            <th style="width:20%; text-align:center;">Sil</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (DataRow item in veri.Rows)
                        {
                            <tr>
                                <td style="text-align:center;">@item["adSoyad"]</td>
                                <td align="center"><a href="/admin/eMailGoruntule/@item["id"]"><i class="far fa-edit" style="color:#00ff21;"></i></a></td>
                                <td align="center"><a href="/admin/eMailsil/@item["id"]"><i class="fas fa-trash-alt" style="color:#ff0000;"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>