
@{
    ViewBag.Title = "haberDuzenle";
    Layout = "~/Views/layout/adminlayout.cshtml";
}
    <div class="col-6 offset-3">
        <div id="formContent">
            <div class="fadeIn first">
                <h1>Haber Düzenle</h1>
            </div>
            <form method="post" action="/admin/duzenle/@ViewBag.ID" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputEmail1">Haber Başlığı</label>
                    <input type="text" class="form-control" id="haberAdi" name="haberAdi" aria-describedby="emailHelp" placeholder="" value="@ViewBag.haberAdi">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Haber İçeriği</label>
                    <textarea name="haberIcerigi" id="haberIcerigi">@ViewBag.haberIcerigi</textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Haber Resmi</label><br>
                    <input type="file" class="" id="haberResmi" name="haberResmi">
                </div>
                <div class="form-group">
                    <img src="@ViewBag.haberResmi" width="100%" height="200" aling="center">
                </div>

                <div class="form-group">
                    <input type="submit" value="Düzenle" class="btn btn-primary btn-block">
                </div>
            </form>
    </div>
</div>