@{
    ViewBag.Title = "hakkimizda";
    Layout = "~/Views/layout/layout.cshtml";
}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h1>Hakkımızda</h1>
                <p>@Html.Raw(ViewBag.hakkimizda)</p>
            </div>
