
@{
    ViewBag.Title = "iletisim";
    Layout = "~/Views/layout/layout.cshtml";
}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

                <div itemprop="articleBody">
                    <p class="slogan04">Uzmanlığımız tasarım odaklı kurumsal web siteleridir.</p>
                    <div class="slogan07 email">
                        <span id=""><a href="#">muhammet.aytac@icloud.com</a></span>
                        <script type="text/javascript">
                            document.getElementById('cloak489ff3d2af169e47f9fb0652a9bc24fe').innerHTML = '';
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy489ff3d2af169e47f9fb0652a9bc24fe = 'w&#101;bm&#97;st&#101;r' + '&#64;';
                            addy489ff3d2af169e47f9fb0652a9bc24fe = addy489ff3d2af169e47f9fb0652a9bc24fe + '&#105;th&#97;k&#105;&#97;j&#97;ns' + '&#46;' + 'c&#111;m';
                            var addy_text489ff3d2af169e47f9fb0652a9bc24fe = 'w&#101;bm&#97;st&#101;r' + '&#64;' + '&#105;th&#97;k&#105;&#97;j&#97;ns' + '&#46;' + 'c&#111;m'; document.getElementById('cloak489ff3d2af169e47f9fb0652a9bc24fe').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy489ff3d2af169e47f9fb0652a9bc24fe + '\'>' + addy_text489ff3d2af169e47f9fb0652a9bc24fe + '<\/a>';
                        </script>
                    </div>
                    <p class="not01">*Öncelikli iletişim yöntemimiz E-Postadır</p>
                    <div class="slogan07 tel"><a href="#">0535 607 18 20</a></div>
                    <div>
                        <div class="com-baforms ">
                            <div class="modal-scrollable ba-forms-modal" style="display:none; background-color: rgba(0, 0, 0, 0.15);"><div class="ba-modal fade hide message-modal" style="color:rgba(51, 51, 51, 1); background-color: rgba(255, 255, 255, 1);"><a href="#" class="ba-modal-close zmdi zmdi-close"></a><div class="ba-modal-body"><div class="message"></div></div></div></div>
                            <form novalidate="" id="iletisim" name="iletisim" action="#" method="post" class="form-validate">
                                <div style="width: 100%; background-color: rgba(255, 255, 255, 1);border: 1px solid rgba(255, 255, 255, 1);border-radius: 2px" class="ba-form">
                                    <div class="page-0">
                                        <div class="row-fluid ba-row">
                                            <div class="span12">
                                                <div class="ba-textInput tool ">
                                                    <input type="text" name="adSoyad" id="adSoyad" placeholder="Ad & Soyad" data-type="regular" style="height: 50px;
		    font-size: 13px; color: rgba(125, 125, 125, 1);
		    background-color: rgba(255, 255, 255, 1); width: 100%; border: 1px solid rgba(181, 181, 181, 1);
		    border-radius: 2px;" required="">
                                                </div>
                                                <div class="ba-email tool ">
                                                    <div class="container-icon">
                                                        <input type="email" placeholder="E-Posta" name="ePosta" id="ePosta" style="height: 50px;  font-size: 13px;
        color: rgba(125, 125, 125, 1); width: 100%; background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(181, 181, 181, 1); border-radius: 2px" required="">
                                                        <div class="icons-cell">
                                                            <i style="font-size: 24px; color: rgba(158, 158, 158, 1)" class="zmdi zmdi-collection-item-3"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ba-textInput tool ">
                                                    <div class="container-icon">
                                                        <input type="text" placeholder="Telefon" name="telefon" id="telefon" data-type="regular" style="height: 50px;
		    font-size: 13px; color: rgba(125, 125, 125, 1);
		    background-color: rgba(255, 255, 255, 1); width: 100%; border: 1px solid rgba(181, 181, 181, 1);
		    border-radius: 2px;">
                                                        <div class="icons-cell">
                                                            <i style="font-size: 24px; color: rgba(158, 158, 158, 1)" class="zmdi zmdi-collection-item-4"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="ba-textarea tool ">
                                                    <div class="container-icon">
                                                        <textarea name="mail" id="mail" style="height: 50px; font-size: 13px;
		color: rgba(125, 125, 125, 1); background-color: rgba(255, 255, 255, 1);
		border: 1px solid rgba(181, 181, 181, 1); border-radius: 2px; min-height: 120px;" placeholder="Mesajınız"></textarea>
                                                        <div class="icons-cell">
                                                            <i style="font-size: 24px; color: rgba(158, 158, 158, 1)" class="zmdi zmdi-collection-item-7"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="ba-form-footer">
                                        <div class="ba-submit-cell">
                                            <input type="hidden" name="task" value="form.save"><div class="row-fluid ba-row">
                                                <div class="span12" style="text-align: left;">
                                                    <input class="ba-btn-submit" type="submit" onclick="gonder()" style="width:15%;height:40px;background-color:rgba(163, 35, 88, 1);color:rgba(250, 250, 250, 1);font-size:14px;font-weight:normal;border-radius:3px;border: none;" value="Gönder">
                                                </div>
                                            </div>
                                        </div>
                                    </div><input type="hidden" class="theme-color" value="rgba(163, 35, 88, 1)"><input type="hidden" class="save-and-continue" value="0"><input type="hidden" class="redirect" value="/web-site-ornekleri"><input type="hidden" class="currency-code" value=""><input type="hidden" class="sent-massage" value="<h3>Tebrikler!</h3><p>Mesajınız başarıyla gönderilmiştir.</p>"><input type="hidden" value="https://www.ithakiajans.com/" class="admin-dirrectory"><input type="hidden" name="page_url"><input type="hidden" name="page_title"><input type="hidden" name="form_id" value="1">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="not3">2969/1 Sk. No. 11 D.8 Kral Apt. Davutpaşa Mah. Esenler / İstanbul</div>
                    <div class="not2">Çalışma Saatleri: 09.00 - 17.00 (Çarşamba, Perşembe Cuma)</div>
                    <p>&nbsp;</p>
                    <div class="temiz">&nbsp;</div>
                </div>
            </div>
            <script>
                  function gonder() {
                    var adSoyad = $('#adSoyad').val();
                    var ePosta = $('#ePosta').val();
                    var telefon = $('#telefon').val();
                    var mail = CKEDITOR.instances.mail.getData();
                    if (adSoyad == "" || ePosta == "" || telefon == ""|| mail == "") {
                    alert("Lütfen tüm alanları doldurun.");
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: '/home/mailGonder',
                        data: { adSoyad: adSoyad, ePosta: ePosta, telefon: telefon, mail: mail },
                        dataType: 'json',
                        success: function (response) {
                            alert(response.Message);
                            setTimeout(() => {
                                document.getElementById("iletisim").reset();
                                if (response.Type == "Success") {
                                    document.location.href = response.Location;
                                }
                            }, 500);
                        }
                    });
                }
            }
            </script>
